<?xml version="1.0" encoding="UTF-8"?>
<!--当你打开此文件时，肯定是博士又让你板砖了-->
<!--同样，你应该是搬砖时遇到了问题，比如APP超市无法显示tomcat正在运行的APP-->
<!--任何形式的搬砖都是浪费生命-->
<!--所以，从内心深处，我是不想告诉你怎么解决这个问题的，因为这是为博士搬砖-->
<!--可是，你又是我的师弟或者师妹，虽然不想为博士搬砖，但如果你无法解决-->
<!--博士可能会说你要总这样我就只能跟老板说了（这句话博士屡试不爽，而且他们真的也干得出来）-->
<!--所以，思考良久，师兄决定再帮你一把-->
<!--非常重要，决定生死-->
<!--该文件生成war包时必须输出到META-INF文件夹中，否则会出现接口调用错误-->
<!--同时，你也可以直接在tomcat目录中修改context.xml文件，这样，会对所有应用有效-->
<Context privileged="true" useHttpOnly="false"/>
